<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div>
      <p>수업을 듣는 지역을 선택하시오</p>
      <select v-model="selectedArea">
        <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
      </select>
    </div>
    <span>선택한 지역 : {{ selectedArea }}</span>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        selectedArea: '',
        // options: [
        //   //백엔드에서 값이 넘어왓다 치고,
        //   { text: '서울', value: 'seoul' },
        //   { text: '광주', value: 'gwangju' },
        //   { text: '대전', value: 'daejeon' },
        //   { text: '구미', value: 'gumi' },
        //   { text: '부울경', value: 'buk' },
        // ],
        options: [],
      },
      created() { //created 호출되는 순간에 광주
        //fetch
        this.options = [ //데이터 바깥쪽에 있는 메소드에서 데이터의 변수를 사용할 때는 this. 사용
          //백엔드에서 값이 넘어왓다 치고,
          { text: '서울', value: 'seoul' },
          { text: '광주', value: 'gwangju' },
          { text: '대전', value: 'daejeon' },
          { text: '구미', value: 'gumi' },
          { text: '부울경', value: 'buk' },
        ];
        param = 'gwangju';
        this.selectedArea = param;
      },
    });
  </script>
</body>

</html>