<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h2>컴포넌트 데이터 공유 문제</h2>
  <div id="app">
    <count-view></count-view> //객체가 전달됨 총 세번! 근데 ref가 전달됨. 같은 ref가 전달되니까 세개가 다 똑같지
    <count-view></count-view> //그래서 test05번처럼 해야 따로따로 적용됨
    <count-view></count-view>
  </div>
  <template id="countview"> //이 템플릿은 count-view에 연결이 됨
    <div>
      <span>{{ count }}</span>
      <button @click="count++">클릭</button>
    </div>
  </template>
  <script>
    let num = { //num은 객체
      count: 0,
    };
    Vue.component("count-view", {
      data() {
        return num;
      },
      template: "#countview", //이걸 위에 템블릿 countview에 적용
    });
    new Vue({
      el: "#app",
    });
  </script>
</body>

</html>