<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .mark {
      background-color: aquamarine;
    }
  </style>
</head>
<div id="app">
  <input type="number" name="amount" v-model.number.lazy="amount">
  <div>총가격(*): {{amount * price}}</div>
  <!--문자열로 +를 인식하기 때문에 number수식어-->
  <div>총가격(+): {{amount + price}}</div>

  <div>
    <template v-if="amount>5">
      <h2>VIP</h2>
      <h2>수량이 많아요</h2>
    </template>
    <h2 v-else-if="amount>0">수량이 적어요</h2>
    <h2 v-else>수량이 올바르지 않아요</h2>
  </div>

  <!--v-if는 dom에서 아예 사라짐-->
  <img src="./images/error.png" v-if="amount<=0">
  <img src="./images/error.png" v-show="amount<=0">

</div>
<script>
  new Vue({
    el: "#app",
    data: {
      amount: 0,
      price: 10000
    },
  });

</script>

<body>

</body>

</html>