<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="kor" name="hkor, hellokor" class="com.ssafy.hello.di4.HelloMessageKor"></bean>
	<bean id="eng" class="com.ssafy.hello.di4.HelloMessageEng" scope="prototype"></bean>
	
</beans>

<!-- *scope=기본이 singleton,dto는 싱글톤안되니까 prototype  
	만들고나서 초기화를 해야하는 경우 -> init : 쓸일 없을겨
	제거직전에 destroy
-->