<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <my-comp></my-comp>
  </div>
  <!-- template 설정 -->
  <!-- template 밖에 빼는게 더 편하다! -->
  <template>
    <div>
      <h2>{{ msg }}</h2>
    </div>
  </template>
  <script>
    Vue.component("my-comp", {
      template: "#mycomp", //얘는 아이디니까 안중요해 위 이름이 중요한거지
      data() { //이 데이터라는 옵션은 함수형태가 되어야함 그냥 data {} 안됨!!!
        return {
          msg: "hello component",
        };
      },
    });

    new Vue({
      el: "#app",
    });
  </script>
</body>

</html>